extends templates/basicHtml
block bodyContent
	.mainContainer
		.mainHeader
			include templates/partials/mainHeader
		.mainContent
			h2#mainTitle.mainTitle
			#resultContainer
	include templates/partials/scripts