form(action="/auth/login" method="post")
	h1 AppFinanzas
	div 
		label(for="username") Usuario:
		input(type="text" name="username" id="username")
	div 
		label(for="password") Clave:
		input(type="password" name="password" id="password")
	input(type="submit")