script(src="https://code.highcharts.com/highcharts.js")
script(src="/js/partials/globalVariables.js")
script(src="/js/libraries/ajax.js")
script(src="/js/libraries/elementMaker.js")
script(src="/js/libraries/graphicsMaker.js")
script(src="/js/index.js")